<div class="h-100 d-flex justify-content-center align-items-center">
	<form class="form border border-light rounded p-2">
		<input class="form-control" placeholder="Ключ доступа...">
		<input type="submit" class="btn btn-primary w-100 mt-2">
		<input class="mt-2" id="check" type="checkbox" name="NeedRemember">
		<label for="check">Запомнить меня?</label>
	</form>
</div>
<div class="col-0 col-sm-0 col-lg-3"></div>
